# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env

# Professional IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project Specific
mess-management-system/
billing/migrations/0002_*.py
